DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=coffee_shop

PORT=3001
NODE_ENV=development

WOMPI_API_URL=https://api-sandbox.co.uat.wompi.dev/v1
WOMPI_PUBLIC_KEY=example_public_key
WOMPI_PRIVATE_KEY=example_private_key
WOMPI_INTEGRITY_KEY=example_integrity_key